/scitracker/
/cadastral_data.db
/scitracker.py
/DATA_PARCELLES/2019/
/DATA_PARCELLES/2020/
/DATA_PARCELLES/2021/
/DATA_PARCELLES/2022/
/DATA_PARCELLES/2023/
*.csv
/DATA_LOCAUX/2019
/cadastral_data.db-journal
/DATA_LOCAUX/2020/
/DATA_LOCAUX/2021/
/DATA_LOCAUX/2022/
/DATA_LOCAUX/2023/
